{{> head }}
<body>
<h1>Alissa White-Gluz</h1>
<div style="display: flex">
    <img class="beautiful_image" style="width: 50%" src="https://upload.wikimedia.org/wikipedia/commons/d/de/Arch_Enemy_-_Wacken_Open_Air_2018-5680.jpg" alt="Alissa White-Gluz">
    <aside style="margin-left: 10%">
        <ul style="list-style: none; display: flex; gap: 10%">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/video">Works</a></li>
            <li><a href="/hase">Gallery</a></li>
        </ul>
        <div style="margin-left: 10%" class="container">{{{ body }}}</div>
    </aside>
</div>
{{> footer}}
</body>
</html>